<div>
  <a href={'/blog'}>Blog</a>
  <a style="padding-left: 1rem" href={'/about'}>About</a>
</div>

<style>
  div {
    border-inline-start: 1px solid var(--sl-color-gray-5);
    display: none;
    margin-inline-start: 1rem;
    padding-inline-start: 1rem;
  }

  @media (min-width: 50rem) {
    div {
      align-items: center;
      display: flex;
    }
  }

  a {
    color: var(--sl-color-text-accent);
    font-weight: 600;
    text-decoration: none;
  }
</style>
